<div class="container">
    <h2>Detalhes do Produto Casa Magnífica</h2>
    <section class="product-details">
        <img src="https://i.ibb.co/JKzFtzj/casa.jpg" alt="Foto de Casa Magnífica" />
        <div class="product-description">
            <p>Bem-vindo(a) ao seu futuro lar! Esta magnífica casa de 4 quartos, com duas suítes, é a oportunidade perfeita para você e sua família desfrutarem de uma vida confortável e elegante. Com seus generosos 4 quartos, esta casa oferece amplo espaço para acomodar toda a família. Além disso, duas suítes privativas garantem o máximo de conforto e privacidade para os moradores. A sala de estar espaçosa e aconchegante é perfeita para momentos de lazer em família ou para receber amigos. O ambiente proporciona um cenário ideal para desfrutar de noites agradáveis e descontraídas.</p>
            <p>Essa casa representa uma oportunidade imperdível para conquistar um lar que combina conforto, elegância e praticidade em uma localização privilegiada. Não perca tempo e agende uma visita hoje mesmo!</p>
            <p class="warning">Nota: A disponibilidade e o preço estão sujeitos a alterações. Entre em contato conosco para mais informações e agendamento de visitas.</p>
            <h3>Características do imóvel:</h3>
            <ul>
                <li>Quartos: 04</li>
                <li>Banheiros: 02</li>
                <li>Área construída: 360m²</li>
            </ul>
        </div>
    </section>
</div>
